

{% liquid
  assign is_marquee = false
  if section.settings.display_style == 'marquee'
    assign is_marquee = true
  endif
%}

{% if is_marquee %}
  <script
    src="{{ 'marquee.js' | asset_url }}"
    type="module"
    fetchpriority="low"
  ></script>
{% elsif section.blocks.size > 1 %}
  <script
    src="{{ 'announcement-bar.js' | asset_url }}"
    type="module"
    fetchpriority="low"
  ></script>
{% endif %}

{% if is_marquee %}
  {% render 'marquee-styles' %}
{% endif %}

{% capture announcement_blocks %}
  {% content_for 'blocks' %}
{% endcapture %}

{% render 'contrast-override', background_color: section.settings.background_color, section_id: section.id %}

<div class="section-background color-custom-{{ section.id }}"></div>
<aside
  class="announcement-bar spacing-style section section--{{ section.settings.section_width }} color-custom-{{ section.id }}"
  style="{% render 'spacing-padding', settings: section.settings %}; --border-bottom-width: {{ section.settings.divider_width }}px;{% if section.settings.divider_color != blank %} --color-border: {{ section.settings.divider_color }};{% endif %}"
>
  {% if is_marquee %}
    <marquee-component
      class="announcement-bar__marquee"
      style="--marquee-gap: {{ section.settings.marquee_gap | default: 24 }}px; --marquee-direction: {{ section.settings.marquee_direction }};"
      data-speed-factor="{{ section.settings.marquee_speed_factor | default: 25 }}"
      data-movement-direction="{{ section.settings.marquee_direction }}"
    >
      <div
        class="marquee__wrapper"
        ref="wrapper"
      >
        <div
          class="marquee__content"
          ref="content"
        >
          <div
            class="marquee__repeated-items"
            ref="marqueeItems[]"
          >
            {{ announcement_blocks }}
          </div>
        </div>
      </div>
    </marquee-component>
  {% else %}
    {% liquid
      assign autoplay = false
      assign show_arrows = false
      if section.blocks.size > 1
        assign autoplay = true
        assign show_arrows = true
      endif
    %}

    <announcement-bar-component
      class="announcement-bar__slider"
      {% if autoplay == true %}
        autoplay="{{ section.settings.speed }}" aria-live="polite"
      {% endif %}
    >
      {% if show_arrows %}
        {% render 'slideshow-arrows', icon_style: 'chevron' %}
      {% endif %}

      <div class="announcement-bar__slides">
        {{ announcement_blocks }}
      </div>
    </announcement-bar-component>
  {% endif %}
</aside>

{% stylesheet %}
  .announcement-bar {
    border-block-end: var(--border-bottom-width) solid var(--color-border);
  }

  .announcement-bar__slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    @media screen and (max-width: 749px) {
      grid-column: 1 / -1;
    }
  }

  .announcement-bar__slides {
    display: grid;
    grid: [stack] auto / [stack] auto;
    width: calc(100% - var(--button-size) * 2);
    max-width: 680px;
    margin-inline: auto;
  }

  .announcement-bar__slides > * {
    grid-area: stack;
  }

  .announcement-bar__slide {
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    content-visibility: visible;

    &[aria-hidden='true'] {
      opacity: 0;
      visibility: hidden;
    }
  }

  .announcement-bar__slider slideshow-arrows {
    padding: 0;
    mix-blend-mode: normal;
  }

  .announcement-bar__slider slideshow-arrows .slideshow-control {
    color: var(--color-foreground);
  }

  .announcement-bar__slider .slideshow-control {
    display: flex;
    padding: 0;
    width: var(--button-size);
    height: var(--button-size);
    align-items: center;
    justify-content: center;
    opacity: 1;
    animation: none;

    @media screen and (min-width: 750px) {
      --slideshow-control-offset: calc((var(--button-size) - var(--icon-size-xs)) / 2);

      .section--page-width &.slideshow-control--previous {
        transform: translateX(var(--slideshow-control-offset));
      }
    }
  }

  .announcement-bar__slider .slideshow-control .svg-wrapper {
    width: var(--icon-size-xs);
    height: var(--icon-size-xs);
  }

  .announcement-bar__slide {
    place-content: center;
  }

  .announcement-bar__text:first-child {
    margin: 0;
  }

  .announcement-bar__link {
    position: absolute;
    inset: 0;
  }

  .announcement-bar__marquee {
    width: 100%;
  }

  .announcement-bar__marquee-link {
    text-decoration: none;
    color: inherit;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.announcement_bar",
  "blocks": [
    {
      "type": "_announcement"
    }
  ],
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "select",
      "id": "display_style",
      "label": "t:settings.display_style",
      "options": [
        {
          "value": "slideshow",
          "label": "t:options.slideshow"
        },
        {
          "value": "marquee",
          "label": "t:options.marquee"
        }
      ],
      "default": "slideshow"
    },
    {
      "type": "range",
      "id": "speed",
      "label": "t:settings.scroll_speed",
      "min": 2,
      "max": 10,
      "default": 5,
      "unit": "sec",
      "visible_if": "{{ section.settings.display_style == 'slideshow' }}"
    },
    {
      "type": "range",
      "id": "marquee_speed_factor",
      "label": "t:settings.speed",
      "min": 10,
      "max": 50,
      "step": 5,
      "default": 25,
      "info": "t:info.marquee_speed",
      "visible_if": "{{ section.settings.display_style == 'marquee' }}"
    },
    {
      "type": "select",
      "id": "marquee_direction",
      "label": "t:settings.motion_direction",
      "options": [
        {
          "value": "reverse",
          "label": "t:options.forward"
        },
        {
          "value": "normal",
          "label": "t:options.reverse"
        }
      ],
      "default": "normal",
      "visible_if": "{{ section.settings.display_style == 'marquee' }}"
    },
    {
      "type": "range",
      "id": "marquee_gap",
      "label": "t:settings.gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 24,
      "visible_if": "{{ section.settings.display_style == 'marquee' }}"
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "t:settings.section_width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:settings.background_color",
      "placeholder": "t:settings.default"
    },
    {
      "type": "range",
      "id": "divider_width",
      "label": "t:settings.divider_thickness",
      "min": 0,
      "max": 5,
      "step": 0.5,
      "unit": "px",
      "default": 0
    },
    {
      "type": "color",
      "id": "divider_color",
      "label": "t:settings.divider_color",
      "placeholder": "t:settings.default",
      "visible_if": "{{ section.settings.divider_width > 0 }}"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 15
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 15
    }
  ],
  "presets": [
    {
      "name": "t:names.announcement_bar",
      "blocks": {
        "announcement_1": {
          "type": "_announcement"
        }
      },
      "block_order": ["announcement_1"]
    }
  ]
}
{% endschema %}
